@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Inter", sans-serif !important;
  color: #131126;
  font-weight: 400;
}

@layer components {
  .displayLargeMedium {
    @apply font-medium text-6xl text-neutral-900 leading-[72px] -tracking-[0.02em];
  }

  .displayLargeSemiBold {
    @apply font-semibold text-6xl text-neutral-900 leading-[72px] -tracking-[0.02em];
  }

  .displayLargeBold {
    @apply font-bold text-6xl text-neutral-900 leading-[72px] -tracking-[0.02em];
  }

  .displayLargeExtraBold {
    @apply font-extrabold text-6xl text-neutral-900 leading-[72px] -tracking-[0.02em];
  }

  .displaySmallMedium {
    @apply font-medium text-[44px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .displaySmallSemiBold {
    @apply font-semibold text-[44px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .displaySmallBold {
    @apply font-bold text-[44px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .displaySmallExtraBold {
    @apply font-extrabold text-[44px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .headingH1MediumDesktop {
    @apply font-medium text-[40px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .headingH1SemiBoldDesktop {
    @apply font-semibold text-[40px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .headingH1BoldDesktop {
    @apply font-bold text-[40px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .headingH1ExtraBoldDesktop {
    @apply font-extrabold text-[40px] text-neutral-900 leading-[48px] -tracking-[0.02em];
  }

  .headingH2MediumDesktop {
    @apply font-medium text-4xl text-neutral-900 leading-[44px] -tracking-[0.02em];
  }

  .headingH2SemiBoldDesktop {
    @apply font-semibold text-4xl text-neutral-900 leading-[44px] -tracking-[0.02em];
  }

  .headingH2BoldDesktop {
    @apply font-bold text-4xl text-neutral-900 leading-[44px] -tracking-[0.02em];
  }

  .headingH2ExtraBoldDesktop {
    @apply font-extrabold text-4xl text-neutral-900 leading-[44px] -tracking-[0.02em];
  }

  .headingH3MediumDesktop {
    @apply font-medium text-[32px] text-neutral-900 leading-10 -tracking-[0.02em];
  }

  .headingH3SemiBoldDesktop {
    @apply font-semibold text-[32px] text-neutral-900 leading-10 -tracking-[0.02em];
  }

  .headingH3BoldDesktop {
    @apply font-bold text-[32px] text-neutral-900 leading-10 -tracking-[0.02em];
  }

  .headingH3ExtraBoldDesktop {
    @apply font-extrabold text-[32px] text-neutral-900 leading-10 -tracking-[0.02em];
  }

  .headingH4MediumDesktop {
    @apply font-medium text-[28px] text-neutral-900 leading-9 -tracking-[0.02em];
  }

  .headingH4SemiBoldDesktop {
    @apply font-semibold text-[28px] text-neutral-900 leading-9 -tracking-[0.02em];
  }

  .headingH4BoldDesktop {
    @apply font-bold text-[28px] text-neutral-900 leading-9 -tracking-[0.02em];
  }

  .headingH4ExtraBoldDesktop {
    @apply font-extrabold text-[28px] text-neutral-900 leading-9 -tracking-[0.02em];
  }

  .headingH5MediumDesktop {
    @apply font-medium text-2xl text-neutral-900 leading-8 -tracking-[0.02em];
  }

  .headingH5SemiBoldDesktop {
    @apply font-semibold text-2xl text-neutral-900 leading-8 -tracking-[0.02em];
  }

  .headingH5BoldDesktop {
    @apply font-bold text-2xl text-neutral-900 leading-8 -tracking-[0.02em];
  }

  .headingH5ExtraBoldDesktop {
    @apply font-extrabold text-2xl text-neutral-900 leading-8 -tracking-[0.02em];
  }

  .headingH6MediumDesktop {
    @apply font-medium text-xl text-neutral-900 leading-7 -tracking-[0.02em];
  }

  .headingH6SemiBoldDesktop {
    @apply font-semibold text-xl text-neutral-900 leading-7 -tracking-[0.02em];
  }

  .headingH6BoldDesktop {
    @apply font-bold text-xl text-neutral-900 leading-7 -tracking-[0.02em];
  }

  .headingH6ExtraBoldDesktop {
    @apply font-extrabold text-xl text-neutral-900 leading-7 -tracking-[0.02em];
  }

  .headingH6MediumMobile {
    @apply font-medium text-lg text-neutral-900 leading-6 -tracking-[0.02em];
  }

  .headingH6SemiBoldMobile {
    @apply font-semibold text-lg text-neutral-900 leading-6 -tracking-[0.02em];
  }

  .headingH6BoldMobile {
    @apply font-bold text-lg text-neutral-900 leading-6 -tracking-[0.02em];
  }

  .headingH6ExtraBoldMobile {
    @apply font-extrabold text-lg text-neutral-900 leading-6 -tracking-[0.02em];
  }

  .paragraphLargeRegular {
    @apply font-normal text-lg text-neutral-900 leading-7;
  }

  .paragraphLargeMedium {
    @apply font-medium text-lg text-neutral-900 leading-7;
  }

  .paragraphLargeSemiBold {
    @apply font-semibold text-lg text-neutral-900 leading-7;
  }

  .paragraphLargeUnderline {
    @apply font-normal text-lg text-neutral-900 leading-7 underline;
  }

  .paragraphLargeStrikethrough {
    @apply font-normal text-lg text-neutral-900 leading-7 line-through;
  }

  .paragraphLargeItalic {
    @apply font-normal text-lg text-neutral-900 leading-7 italic;
  }

  .paragraphMediumRegular {
    @apply font-normal text-base text-neutral-900 leading-6;
  }

  .paragraphMediumMedium {
    @apply font-medium text-base text-neutral-900 leading-6;
  }

  .paragraphMediumSemiBold {
    @apply font-semibold text-base text-neutral-900 leading-6;
  }

  .paragraphMediumUnderline {
    @apply font-normal text-base text-neutral-900 leading-6 underline;
  }

  .paragraphMediumStrikethrough {
    @apply font-normal text-base text-neutral-900 leading-6 line-through;
  }

  .paragraphMediumItalic {
    @apply font-normal text-base text-neutral-900 leading-6 italic;
  }

  .paragraphSmallRegular {
    @apply font-normal text-sm text-neutral-900 leading-5;
  }

  .paragraphSmallMedium {
    @apply font-medium text-sm text-neutral-900 leading-5;
  }

  .paragraphSmallSemiBold {
    @apply font-semibold text-sm text-neutral-900 leading-5;
  }

  .paragraphSmallUnderline {
    @apply font-normal text-sm text-neutral-900 leading-5 underline;
  }

  .paragraphSmallStrikethrough {
    @apply font-normal text-sm text-neutral-900 leading-5 line-through;
  }

  .paragraphSmallItalic {
    @apply font-normal text-sm text-neutral-900 leading-5 italic;
  }

  .paragraphXSmallRegular {
    @apply font-normal text-xs text-neutral-900 leading-5;
  }

  .paragraphXSmallMedium {
    @apply font-medium text-xs text-neutral-900 leading-5;
  }

  .paragraphXSmallSemiBold {
    @apply font-semibold text-xs text-neutral-900 leading-5;
  }

  .paragraphXSmallUnderline {
    @apply font-normal text-xs text-neutral-900 leading-5 underline;
  }

  .paragraphXSmallStrikethrough {
    @apply font-normal text-xs text-neutral-900 leading-5 line-through;
  }

  .paragraphXSmallItalic {
    @apply font-normal text-xs text-neutral-900 leading-5 italic;
  }

  .paragraphOverlineSmall {
    @apply font-semibold text-xs text-neutral-900 leading-5 tracking-[1px];
  }

  .paragraphOverlineLarge {
    @apply font-semibold text-sm text-neutral-900 leading-5 tracking-[1px];
  }
}

/* Toggle switch css start  */
.switchToggle input:checked~.switchButton {
  background-color: #6c5dd3;
}

.switchToggle input:checked~.dot {
  transform: translateX(80%);
  background-color: #fff;
}

/* Toggle switch css end  */

/* Checkbox styles start */

.checkboxstyle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}

.checkboxstyle input[type="checkbox"]+.checkbox-label {
  position: relative;
  width: 100%;
}

.checkboxstyle input[type="checkbox"]+.checkbox-label::before {
  content: "";
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid #d3d2d8 !important;
  width: 24px;
  height: 24px;
  position: relative;
  top: 0;
  right: 0;
  left: auto;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  /* transition: all 250ms ease; */
}

.checkboxstyle input[type="checkbox"]:checked+.checkbox-label::before {
  background-color: #6c5dd3;
  background-image: url("./Assets/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
  border: none !important;
  box-shadow: none !important;
}

.checkboxstyle input[type="checkbox"]:focus+.checkbox-label:before {
  outline: none;
  border-color: rgb(21, 35, 73);
}

/* Checkbox styles end */

/* Checkbox without label styles start */
.checkboxWithoutLabel {
  width: 24px;
  height: 24px;
  position: relative;
}

.checkboxWithoutLabel>* {
  position: absolute;
}

.checkboxWithoutLabelVisible {
  width: 24px;
  height: 24px;
  background: #fff;
  border: 1px solid #D3D2D8;
  border-radius: 4px;
}

.checkboxWithoutLabel>input {
  z-index: 1;
  opacity: 0;
  left: 50%;
  top: 50%;
  transform: translatex(-50%) translatey(-50%);
  display: block;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.checkboxWithoutLabel>input:checked+.checkboxWithoutLabelVisible {
  background-color: #6c5dd3;
  background-image: url("./Assets/checked.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.checkboxWithoutLabel>input:hover+.checkboxWithoutLabelVisible {
  border-color: #D3D2D8;
}

.Checkbox>input:hover:checked+.Checkbox-visible {
  border-color: #6c5dd3;
}

.Checkbox>input:focus+.Checkbox-visible {
  border-color: #6C5DD3;
}

/* Checkbox without label styles end */

/* Radio button styles start */

.radioButton input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioButton input[type="radio"]+.radio-label {
  position: relative;
  width: 100%;
  cursor: pointer;
}

.radioButton input[type="radio"]+.radio-label::before {
  content: "";
  background: #ffffff;
  border-radius: 100%;
  border: 2px solid #d3d2d8;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: relative;
  top: 0;
  right: 0;
  left: auto;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radioButton input[type="radio"]:checked+.radio-label::before {
  background-color: #6c5dd3;
  box-shadow: inset 0 0 0 4px #ffffff;
  border: 2px solid #6c5dd3;
}

.radioButton input[type="radio"]:focus+.radio-label:before {
  outline: none;
  border-color: #6c5dd3;
}

/* Radio button styles end */

/* Radio switch button styles start */

.radioButtonSwitch input[type="radio"] {
  position: absolute;
  opacity: 0;
}

.radioButtonSwitch input[type="radio"]+.radio-label {
  position: relative;
  width: 100%;
}

.radioButtonSwitch input[type="radio"]+.radio-label::after {
  content: "";
  background: #ffffff;
  border-radius: 100%;
  border: 2px solid #d3d2d8;
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  vertical-align: top;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease;
}

.radioButtonSwitch input[type="radio"]:checked+.radio-label::after {
  background-color: #6c5dd3;
  /* box-shadow: inset 0 0 0 4px #ffffff; */
  border: 2px solid #6c5dd3;
}

.radioButtonSwitch input[type="radio"]:focus+.radio-label:after {
  outline: none;
  border-color: #6c5dd3;
}

/* Radio button switch styles end */

/* Scrollbar Style Start */

.scrollbarStyle::-webkit-scrollbar-track {
  border: 1px solid #d3d2d8;
  border-radius: 20px;
  background-color: transparent;
}

.scrollbarStyle::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.scrollbarStyle::-webkit-scrollbar-thumb {
  background-color: #6c5dd3;
  border-radius: 20px;
}

/* Scrollbar Style End */

/* dropDownIconRotate css start */
.dropDownIcon [data-headlessui-state="open"] .dropDownIconRotate {
  transform: rotate(180deg);
}

/* dropDownIconRotate css end */

/* left menu css start */

.orderLoopLogo,
.menuText {
  display: none;
}

.menuExpand .menuText,
.menuExpand .orderLoopLogo {
  display: block;
}

.menuExpand .orderLoopLogoSmall {
  display: none;
}

.menuExpand.menuLeft {
  max-width: 300px;
  display: block;
}

.menuExpand.menuLeft .scrollbarStyle a {
  width: 100%;
}

.menuExpand.menuLeft+div.contentMain {
  padding-left: 300px;
}

.menuExpand .switchBig {
  justify-content: space-between;
  padding-left: 16px;
  padding-right: 16px;
}

.menuExpand .scrollbarStyle {
  padding-right: 16px;
}

.menuExpand .menuBig,
.menuExpand .switchBig {
  margin: 0 24px;
}

.menuExpand+div .menuOverlay {
  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 30;
}

/* left menu css end */

.creditBox .paragraphXSmallMedium {
  font-weight: 400;
}

.activeMenu .activeMenuBg {
  background: #6c5dd3;
}

.menuBig .activeMenu[href="/pos"] .activeMenuBg {
  background-color: #C4BEED;
}

.menuBig .activeMenu[href="/pos"] .activeMenuBg svg {
  display: none;
}

.menuBig .activeMenu[href="/pos"] .menuText {
  color: #6c5dd3;
}

.menuBig .activeMenu[href="/pos"] .activeMenuBg {
  background-image: url("./Assets/pos-active.svg");
  background-position: 15px center;
  background-repeat: no-repeat;
}

.menuExpand .subMenuLink {
  width: auto;
  border-radius: 12px;
}

.activeMenu .menuText {
  color: #ffffff;
}

.activeMenu .MenuIcon {
  display: none;
}

.activeMenu .activeMenuIcon {
  display: block;
}

/* sick sleder css start */

.loginSlide {
  padding: 0 0 58px;
}

.dashboardSlide,
.abandonedCartSlide {
  padding: 0 0 18px;
}

.loginSlide .slick-dots,
.dashboardSlide .slick-dots,
.abandonedCartSlide .slick-dots {
  bottom: 0;
}

.loginSlide .slick-dots li,
.dashboardSlide .slick-dots li,
.abandonedCartSlide .slick-dots li {
  width: auto;
  height: auto;
  margin: 0 4px;
}

.dashboardSlide .slick-dots li,
.abandonedCartSlide .slick-dots li {
  margin: 0 2px;
}

.loginSlide .slick-dots li button,
.dashboardSlide .slick-dots li button,
.abandonedCartSlide .slick-dots li button {
  width: 8px;
  height: 8px;
  background: #a79ee5;
  border-radius: 10px;
  padding: 0;
}

.dashboardSlide .slick-dots li button,
.abandonedCartSlide .slick-dots li button {
  background: #c4beed;
}

.loginSlide .slick-dots li.slick-active button {
  width: 40px;
  background: #ffffff;
}

.dashboardSlide .slick-dots li.slick-active button,
.abandonedCartSlide .slick-dots li.slick-active button {
  width: 24px;
  background: #6c5dd3;
}

.loginSlide .slick-dots li.slick-active button:before,
.dashboardSlide .slick-dots li.slick-active button:before,
.abandonedCartSlide .slick-dots li.slick-active button:before {
  opacity: 0;
  color: transparent;
}

.loginSlide .slick-dots li button:before,
.dashboardSlide .slick-dots li button:before,
.abandonedCartSlide .slick-dots li button:before {
  font-size: 0;
  line-height: 0;
  position: relative;
  content: "";
  opacity: 0;
  color: transparent;
}

.dashboardSlide .slick-slide.slick-active,
.dashboardSlide .slick-slide.slick-active+div.slick-slide {
  margin-right: 20px;
  width: 303px !important;
}

.dashboardSlide .slick-slide.slick-active {
  margin-left: 16px;
}

/* sick sleder css end */

.tableMediaLibrary tr:nth-child(odd) td {
  background: #ffffff;
}

.tableMediaLibrary tr:nth-child(even) td {
  background: #fafafa;
}

.transitionEffect {
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/* phoneinputbox css start */

.phoneinputbox .PhoneInputInput {
  border: none;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  background: none;
  font-family: "Metropolis Semi Bold";
  color: rgba(0, 0, 0, 0.87);
}

.phoneinputbox .PhoneInputInput:focus {
  box-shadow: none;
}

.phoneinputbox .PhoneInputCountrySelectArrow {
  font-size: 26px;
  color: #000;
  opacity: 1;
  appearance: none;
}

.phoneinputbox .PhoneInputCountry select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.phoneinputbox .PhoneInputCountryIcon--border {
  background-color: transparent;
  box-shadow: none;
  height: 24px;
  width: auto;
}

.phoneinputbox .PhoneInputCountrySelect {
  /* display: none; */
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.phoneinputbox .PhoneInputInput {
  font-family: "Inter", sans-serif;
  color: #131126;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: 400;
  line-height: normal;
  width: 38px;
  outline: none;
}

.phoneinputbox .PhoneInputCountryIconImg {
  border-radius: 5px;
}

.removeSpinButton input[type=number]::-webkit-inner-spin-button,
.removeSpinButton input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* phoneinputbox css end */

.titleSap::before {
  position: absolute;
  content: "";
  background: #D3D2D8;
  width: 16px;
  height: 1px;
  left: -21px;
  top: 9px;
}

.draggableElements div {
  width: 100%;
  left: 0;
  right: 0;
}

.draggableElements>div div:nth-child(even) {
  background-color: #FAFAFA;
}

/* orderTypeMobile style start */

.orderTypeMobile svg {
  display: none
}

.orderTypeMobile .mx-1 {
  margin: 0;
}

.orderTypeMobile .px-4 {
  padding: 0;
}

.orderTypeMobile button {
  position: relative;
  padding: 0;
  background-color: transparent;
  height: auto;
  width: auto;
  padding-top: 12px;
  padding-right: 64px;
  padding-bottom: 12px;
}

.orderTypeMobile button::after {
  position: absolute;
  content: "";
  right: 0;
  background-color: #6c5dd3;
  background-image: url("./Assets/dine-in-white.svg");
  background-position: center center;
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0px 8px 10px -6px rgba(16, 24, 40, 0.1), 0px 20px 25px -5px rgba(16, 24, 40, 0.1);
}

.orderTypeMobile button.dineInIcon::after {
  background-image: url("./Assets/dine-in-white.svg");
}

.orderTypeMobile button.takeAwayIcon::after {
  background-image: url("./Assets/orders-white.svg");
}

.orderTypeMobile button.deliveryIcon::after {
  background-image: url("./Assets/riders-white.svg");
}

.orderTypeMobile button:hover {
  background-color: transparent;
}

.orderTypeMobile span {
  padding: 4px 6px;
  background-color: #FAFAFA;
  color: #6C5DD3;
  border-radius: 6px;
}

.menuOrderItems,
.closeIcon,
.menuOrderType .addIcon {
  display: none;
}

.menuOrderType .menuOrderItems,
.menuOrderType .closeIcon {
  display: block;
}

/* orderTypeMobile style end */

@media only screen and (max-width: 1279px) {
  .menuExpand .subMenuLink {
    width: auto;
    border-radius: 10px;
  }

  .menuExpand.menuLeft {
    max-width: 250px;
  }

  .menuExpand.menuLeft+div.contentMain {
    padding-left: 72px;
  }

  .menuExpand.menuLeft+.contentMain .menuTop {
    padding-left: 211px;
  }

  .menuExpand .menuBig,
  .menuExpand .switchBig {
    margin: 0 14px;
  }

  .menuExpand .scrollbarStyle {
    padding-right: 6px;
  }
}

@media only screen and (max-width: 767px) {
  .menuExpand.menuLeft+div.contentMain {
    padding-left: 0;
  }
}


@media only screen and (max-width: 374px) {

  .dashboardSlide .slick-slide.slick-active,
  .dashboardSlide .slick-slide.slick-active+div.slick-slide {
    width: 280px !important;
  }
}